name: CI using Docker

on:
  push:
    branches: [ "main" ]

jobs:
      docker_test:
         runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        uses: docker build  -t ci-cd-app-test .
     
      - name: Run tests inside docker
        run: docker run ci-cd-app-test
