name: CI using Docker

on:
  push:
    branches: [ "main" ]

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ci-cd-app-test .

      - name: Run tests inside Docker
        run: docker run ci-cd-app-test
